<footer class="container-fluid bg-dark">
  <div class="row text-secondary p-5">
    <div class="col-4 m-2">
      <h5 class="text-">ABOUT US</h5>
      <p class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ad
        dolores deleniti quidem doloribus officia?
      </p>
    </div>
    <div class="col-4 m-2">
      <h5 class="text-secondary">CONTACT INFO</h5>
      <ul class="list-unstyled">
        <li>
          <i class="fa-solid fa-location-dot"></i>
          <p class="d-inline-block mx-2">
            1234 Altschul, Los Angeles, CA 10027-0000
          </p>
        </li>
        <li>
          <i class="fa-solid fa-phone"></i>
          <p class="d-inline-block mx-2">+1 987 654 3210</p>
        </li>
        <li>
          <i class="fa-solid fa-envelope"></i>
          <a class="d-inline-block mx-2 text-secondary">email@domain.com</a>
        </li>
      </ul>
    </div>
    <div class="col-3 m-2">
      <h5 class="text-secondary">OPENING HOURS</h5>
      <div class="mb-2">
        <p class="m-0 p-0">MONDAY - THURSDAY</p>
        <p class="m-0 p-0" class="font-serif">10:00 AM - 11:00 PM</p>
      </div>
      <div class="mb-2">
        <p class="m-0 p-0">FRIDAY - SUNDAY</p>
        <p class="m-0 p-0" class="font-serif">12:00 AM - 03:00 AM</p>
      </div>
    </div>
  </div>
  <div class="row  bg-dark text-secondary py-2 px-5">
    <hr />
    <p class="text-center">© 2021 All rights reserved.</p>
  </div>
</footer>
