<section class="container-fluid bg-dark mb-2">
  <div class="row pb-5">
    <div class="col-5 my-auto p-5 text-center text-secondary">
      <h1>Place Name</h1>
      <p>CAFÉ & RESTAURANT</p>

      <p>
        A unique café located in the heart of Los Angeles. Always fresh coffee
        and biscuits. Open for indoor dining and to-go orders.
      </p>
    </div>
    <div class="col-7">
      <img
        class="img-lg"
        src="https://www.datocms-assets.com/38028/1650487236-4.png"
      />
    </div>
  </div>
</section>
<section class="container-fluid p-5">
  <div class="row m-3">
    <div class="col-2 py-5 ps-5 pe-1">
      <hr />
      <h5 class="">Take a coffee break or enjoy a meal.</h5>
      <hr />
    </div>
    <div class="col-4 p-5">
      <img
        class="img-sm"
        src="https://images.pexels.com/photos/312418/pexels-photo-312418.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      />
    </div>
    <div class="col-5 pt-5 pe-5 ps-2 mt-5">
      <h5 class="text-dark mt-5">Always amazing experience</h5>
      <p class="text-secondary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias
        veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem
        illum quo nostrum quisquam asperiores. Possimus facilis velit,
        voluptatibus!
      </p>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-5 pt-5 pe-2 ps-5 mt-5">
      <h5 class="text-dark mt-5">Beautiful outdoor seating</h5>
      <p class="text-secondary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quae
        similique asperiores consequatur! Nihil temporibus qui enim. Accusamus
        voluptates a, et quidem! Quo, et?
      </p>
    </div>
    <div class="col-2 mt-5 py-0 ps-4 me-0 ms-5">
      <hr class="" />
      <h5 class="">Great variety of foods you will enjoy.</h5>
      <hr />
    </div>
    <div class="col-4 ms-1 py-5 me-0 me-1">
      <img
        class="img-sm"
        src="https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,f_jpg,g_xy_center,h_1000,q_65,w_640,x_1275,y_847/v1/clients/southbend/outdoor_seatingWEB_ded05ba2-1b83-4de4-aee3-add3ab55f4ec.jpg"
      />
    </div>
  </div>
</section>
